/*Style.css:
            1.Main.css
            2.Responsive.css*/

/*Main.css*/

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 2.5em;
    font-weight: 400;
    text-transform: uppercase;
    color: #3A5397;
    background: #67809F;  
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.container, 
#footer, 
#header, 
#main, 
section, 
div, 
#featured-work {
    display: inline-block;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

p {
    font-size: 0.6em;
}

/*Header*/
#header {
    border-bottom-width: 0.75vw;
    border-bottom-style: solid;
    border-bottom-color: #02b3e4;
    width: 100%;
    display: inline-flex;
    line-height: 1em;
}

#main .hero-pic {
    padding-top: 2em;
    width: 100%;
}

#main {
    width: 100%;
    text-align: center;
}

.hero-quote {
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 1rem 0.5rem;
    background: #67809f; opacity: 0.8;
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header .udacity-logo {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 15%;
    object-fit: cover;
}

.person {
    text-align: right;
    width: 85%;
    font-size: 3vw;
}

.name {
    color: #3a5397;
}

.profession {
    color: #89c4f4;
}

/*Content*/

.project img {
    padding-right: 4vw;
    flex: 1 1 auto;
}

.project img:last-of-type {
    padding-right: 0;
}

#contact ul {
    list-style: none;
}

#tools, 
#about, 
#contact  .social-icons,
.copyright {
    width: 100%;
    align-items: center;
}

#tools>div {
     margin: 2rem;
}

#about {
    
}

#contact .social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.social-icons li{
    display: inline;
    text-align: center;
    float: left;
}

.social-icons li a {
    display: block;
    color: #89c4f4;
    width: 40px;
    height: 40px;
    margin-right: 2rem;
    padding-bottom: 3rem;
}

/*Footer*/
.copyright {
    font-size: 1rem;
    border-top: 5rem;
    position: absolute;
    text-align: center;
}



/*Responsive.css*/

@media screen and (max-width: 430px) {
    .hero-pic,
    .hero-quote {
        display: none;
     }
    
    body {
        min-width: 355px;
    }
    .udacity-logo { 
        margin-left: 1em;  
    }
    .person { 
        margin-right: 1em;  
    }
    }

@media screen and (min-width: 431px) and (max-width: 489px){ 
    p {
        font-size: 0.9em;
    }
    .udacity-logo { 
        margin-left: 1em;  
    }
    .person { 
        margin-right: 1em;  
    }
    .hero-quote {
        display:none;
    }
    #about { 
        margin-left: 1em;
        margin-right: 1em;
    }
    .project {
        width: 65vw;
    }
    }

@media screen and (min-width: 490px) and (max-width: 710px){ 
    .hero-quote {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
    .project {
        align-content: space-between;
        width: 50vw;
    }
    
@media screen and (min-width: 711px) and (max-width: 1029px){
    .hero-quote {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
}
    
@media screen and (min-width: 1030px) {
    .container {
        width: 1030px;
        margin-left: auto;
        margin-right: auto;
    }
    .person,
    .profession { 
        font-size: 36px;
    }
    #header .udacity-logo {
        max-height: 150px;
    }
    .hero-quote {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
    } 
    #main #featured-work .project {
        padding-right: 10px;
    }
   }

